
.ip-viewfinder {
  background: rgba(255,255,255,.5);

  position: absolute;
  z-index: 3;

  transition: opacity .2s ease-in-out;

  opacity: 0;
  border: dotted #CCCCCC 1px;
}

.ip-viewfinder--shown {
  opacity: 1;
}

#ip-projection {
  /*border: dotted 1px #CCC;*/
}
